<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFH Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="/images/CFH_favicon.ico">
</head>
<body>
    <header th:insert="index :: header" class="navbar" ></header>
    <div class="deletepost-container">
        <h1>CFH Blog</h1>
        <h2>Delete Post</h2>
        <div class="post" th:object="${post}">
            <h2 th:text="${post.title}">Title</h2>
            <pre><p th:text="${post.body}">Blog Post Text</p></pre>
        </div>
        <h3 class="delete-notice">Are you sure you want to delete this post?</h3>
        <button onclick="history.back()" class="blog-edit">Cancel</button>
        <button class="blog-delete">
            <a th:href="@{/deletePost/{id}(id=${post.id})}" >Delete</a>
        </button>
    </div>
    <div th:insert="footer :: footer"></div>
</body>
</html>
