<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFH Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
    <header th:insert="index :: header" class="navbar" ></header>
    <div class="container">
        <h1>CFH Blog</h1>
        <h2>Delete Post</h2>
        <div class="post" th:object="${post}">
            <h2 th:text="${post.title}">Title</h2>
            <p th:text="${post.body}">Blog Post Text</p>
        </div>
        <h3>Are you sure you want to delete this post?</h3>
        <button onclick="history.back()" class="btn btn-warning">Cancel</button>
        <a th:href="@{/deletePost/{id}(id=${post.id})}" class="btn btn-danger">Delete</a>
    </div>
    <footer class=" footer" th:fragment="footer"></footer>
</body>
</html>
