<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
    <footer class="footer" th:fragment="footer">
        <p>
			Copyright © 2022 Carolina Fintech Hub
		</p>
        <div>
            <ul class="socials">
                <li><a href="https://twitter.com/carolinafintech?lang=en"><img class="socialmedia" src="/images/twitter.svg"></a></li>
                <li><a href="https://www.facebook.com/carolinafintechhub/"><img class="socialmedia" src="/images/facebook.svg"></a></li>
                <li><a href="https://www.instagram.com/carolinafintechhub/"><img class="socialmedia" src="/images/instagram.svg"></a></li>
                <li><a href="https://www.linkedin.com/company/carolina-fintech-hub/"><img class="socialmedia" src="/images/linkedin.svg"></a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>