<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>
    <!-- <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>

</head>

<body>
    <!-- create navigation bar ( header) -->
    <header class="navbar">
        <div class="navbar-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}">
                    <img src="../static/images/cfhlogo.svg"/>
                </a>
                <ul class="nav-navbar-nav">
                    <li>
                        Welcome, <span sec:authentication="principal.username">User</span>
                    </li>
                    <li class="logout-btn" sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
                <!-- <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button> -->
            </div>
        </div>
    </header>

    <br>
    <br>

    <div class="blog-container">
        <h1>Blog</h1>
        

        <a th:href="@{/createNewPost}" class="btn btn-primary btn-sm mb-3">Create New Post</a>

        <div class="posts-container">
            <div class="post" th:each="post : ${listPosts}">
                <a th:href="@{/post/{id}(id=${post.id})}">
                    <h2 th:text="${post.title}">Title</h2>
                </a>
                <p th:text="${post.body}">Blog Post Text</p>
                <a th:href="@{/edit/{id}(id=${post.id})}" class="btn btn-warning">Edit</a>
                <a th:href="@{/delete/{id}(id=${post.id})}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

</body>

</html>
