<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />

</head>

<body>
    <!-- create navigation bar ( header) -->
    <header class="navbar" th:fragment="navbar">
        <div class="navbar-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}">
                    <img src="../static/images/cfhlogo.svg" />
                </a>
                <ul class="nav-navbar-nav">
                    <li class="register-btn" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/registration}">Register</a>
                    </li>
                    <li class="login-btn" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}">Login</a>
                    </li>
                    <li class ="users-btn" sec:authorize="isAuthenticated()">
                        <a th:href="@{usersTable}">Users</a>
                    </li>
                    <li class="logout-btn" sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
                <!-- <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button> -->
            </div>
        </div>
    </header>

    <br>
    <br>

    <div class="blog-container">
        <h1>Blog</h1>

        <div th:if="${param.success}">
            <h3>Login Successful. Welcome!</h3>
        </div>


<!--        <div class="posts-container">-->
<!--            <div class="post" th:each="post : ${listPosts}">-->
<!--                <a th:href="@{/post/{id}(id=${post.id})}">-->
<!--                    <h2 th:text="${post.title}">Title</h2>-->
<!--                </a>-->
<!--                <p th:text="${post.getDate()}">Date</p>-->
<!--                <p th:text="${post.body}">Blog Post Text</p>-->
<!--                <a th:href="@{/showFormForUpdate/{id}(id=${post.id})}" class="btn btn-primary">Update</a>-->
<!--                <a th:href="@{/deletePost/{id}(id=${post.id})}" class="btn btn-danger">Delete</a>-->
<!--                <a th:href="@{/edit/{id}(id=${post.id})}" class="btn btn-warning">Edit</a>-->
<!--                <a th:href="@{/delete/{id}(id=${post.id})}" class="btn btn-danger">Delete</a>-->
<!--            </div>-->
<!--        </div>-->
    </div>

    <!-- Start of Choua's Part -->
    <main id="posts">
        <article th:each="post : ${latest3posts}">
            <a th:href="@{/post/{id}(id=${post.id})}">
                <h2 class="title" th:text="${post.title}">Post Title</h2>
            </a>
            <div class="date">
                <i>Posted on</i>
                <span th:text="${post.getDate()}"></span>
                <!-- <span th:if="${p.author}" th:remove="tag">
                <i>by</i>
                <span th:text="${p.author.fullName != null ?
                                p.author.fullName : p.author.username}"></span>
                </span> -->
            </div>
           <pre><p class="content" th:text="${post.body}">Post content</p></pre>
        </article>
    </main>

    <aside>
        <h2>Recent Posts</h2>
        <a th:each="post : ${latest5posts}" th:text="${post.title}" th:href="@{/post/{id}(id=${post.id})}"></a>
    </aside>

    </div>

</body>

</html>