<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
  
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="/images/CFH_favicon.ico">
</head>
<body>
    <header th:insert="index :: header" class="navbar" ></header>
    
    <br>
    <br>
    
    <div class="newpost-container">
        <h1>CFH Blog</h1>
        <h2>Create New Post</h2>

        <form action="#" th:action="@{/savePost}" th:object="${post}" method="POST"style="text-align: center; " width="100%">
            <input type="text" th:field="*{title}" placeholder="Post Title" required aria-label="post title input" style="width: 70%">
            <br>
            <br>
            <textarea style="height: 300px; width: 90%; white-space: pre-wrap;" type="text" th:field="*{body}" placeholder="Body Text" required aria-label="post body input"></textarea>
            <br>
            <button class="create-newpost-btn" type="submit">Save Post</button>
        </form>
    </div>

    <br>
    <br>

    <div th:insert="footer :: footer"></div>
</body>
</html>