<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Registration</title>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>

</head>
<body>

<!-- create navigation bar ( header) -->
<header class="navbar">
    <div class="navbar-container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">
                <img src="/images/cfhlogo.svg"/>
            </a>
            <!-- <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button> -->
        </div>
    </div>
</header>

<br>
<br>

<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="login">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert-info">You've successfully registered
                    to our awesome app!</div>
            </div>

            <h1>Registration</h1>

            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="firstName"> First Name </label>
                    <input id="firstName" class="form-control" th:field="*{firstName}"
                        required autofocus="autofocus" placeholder="Enter First Name" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName"> Last Name </label> 
                    <input id="lastName" class="form-control" th:field="*{lastName}"
                        required autofocus="autofocus" placeholder="Enter Last Name"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="email"> Email </label>
                    <input id="email" class="form-control" th:field="*{email}" 
                        required autofocus="autofocus" placeholder="Enter Email"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="password"> Password </label> 
                    <input id="password" class="form-control" type="password" th:field="*{password}" 
                        required autofocus="autofocus" placeholder="Enter Password"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:insert="footer :: footer"></div>
</body>
</html>
