<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Users</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="/images/CFH_favicon.ico">

</head>
<body>
    <header th:insert="index :: header" class="navbar" ></header>
    <div class="user_container_table">
        <h1 class="Userlist">User List</h1>
            <table class = "usertable">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tbody>
                <tr  class="userTable" th:each="user : ${allUsers}">
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getFullName()}"></td>
            </tbody>
            </tr>
        </table>

</div>
<br>
<br>

<div th:insert="footer :: footer"></div>
</body>
</html>