<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Users</title>

    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
    <header th:insert="index :: header" class="navbar" ></header>
    <div class="container my-2">
        <h1>User List</h1>
            <table border="1" class = "table table-striped table-responsive-md" >
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tbody>
                <tr class="userTable" th:each="user : ${allUsers}">
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getFullName()}"></td>
            </tbody>
            </tr>
        </table>

</div>

<div th:insert="footer :: footer"></div>
</body>
</html>