<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFH Blog</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css" />

</head>

<body>
<!-- insert navbar -->

    <main>
        <article th:object="${post}">
            <h2 class="title" th:text="${post.title}">Post Title</h2>
            <p class="date-auth">
                <i>Posted on </i><span th:text="${post.getDate()}"></span>
                <br>
                <!-- <i>By </i><span th:text="${post.user.getFullName}"></span> -->
            </p>
            <p class="content" th:text="${post.body}">Post content</p>
            <a sec:authorize="isAuthenticated()" th:href="@{/edit/{id}(id=${post.id})}">Edit</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/delete/{id}(id=${post.id})}">Delete</a>
        </article>
    </main>

<!-- insert footer? -->
<footer calss=" footer" th:fragment="footer"></footer>
</body>


</html>
